// .blog_card_content {
//   // 卡片
//   .ant-card-body {
//     padding: 0.5rem;
//   }
// }

// 个人信息盒子
.blog-box {
  // 卡片
  .ant-card-body {
    padding: 0.5rem;

    // 按钮区域
    .ant-menu {
      width: 160px;
      line-height: 1.5rem;
      height: 1.3rem;
    }

    // 头像
    .ant-avatar {
      margin-top: 15px;
    }
  }
}

// 个人信息
.personal_information_box {
  margin-top: 15px;

  // 统计盒子
  .statistics_box {
    // width: 6.5rem;
    margin: 20px auto 0;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    // text-align: center;
    align-items: center;
    justify-content: space-between;

    // 每列
    .item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      //   .title {
      //   }
      //   .number {
      //   }
    }
  }

  .text {
    text-align: center;
    display: inline-block;
  }
}
