@base: 1px solid black;

// 页面容器
.content {
  // height: 100vh;
  font-size: 1rem;
  // 内容区域

  .comm_content {
    .comm_top {
    }
    // height: calc(100%-3.4rem);
    height: 500px;
    position: relative;
    top: 3.8rem;
    margin: 0 auto;
    height: 100%;
    .ant-row {
      height: 100%;
    }
  }
}

// 左侧
.comm-left {
  // border: 1px solid orange;
  min-width: 240px;
  max-width: 240px;
}

// 中间 主要内容区域
.comm-center {
  // border: @base;
  clear: both;
}

// 右侧
.comm-right {
  min-width: 240px;
  max-width: 240px;
  border: @base;
}
