@base: 1px solid black;

.content {
  height: 100%;
  .comm_content {
    max-width: 80%;
    margin: 0.5rem auto 0 auto;
    height: 100%;
    .ant-row {
      height: 100%;
    }
  }
}
.comm-left {
  border: 1px solid orange;
}
.comm-center {
  border: @base;
}
.comm-right {
  border: @base;
}
