@base: 1px solid black;

.content {
  height: 100%;
  .comm_content {
    // max-width: 95%;
    margin: 0.5rem auto 0 auto;
    height: 100%;
    .ant-row {
      height: 100%;
    }
  }
}
.comm-left {
  // border: 1px solid orange;
  min-width: 240px;
  max-width: 240px;
}
.comm-center {
  border: @base;
  clear: both;
}
.comm-right {
  min-width: 240px;
  max-width: 240px;
  border: @base;
}
